<div id="<%= dom_id merchant %>">
  <p>
    <strong>Owner name:</strong>
    <%= merchant.owner_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= merchant.email %>
  </p>

  <p>
    <strong>Store name:</strong>
    <%= merchant.store_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= merchant.description %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= merchant.logo %>
  </p>

  <p>
    <strong>Has storefront:</strong>
    <%= merchant.has_storefront %>
  </p>

</div>
